doctype html
html(lang="en")
	head
		title= "让妈妈变美"
		meta(name="viewport",content="height=device-height,width=device-width,initial-scale=1")
		link(href="{{ STATIC_URL }}css/index.css",rel="stylesheet",type="text/css")
