@import "../../bower_components/normalize.css/normalize.css";

body {
  background:url("../image/index_background.jpg") no-repeat;
  background-size:cover;
  background-color:rgb(176,204,0);

  section.title {
    position:absolute;
    height:20%;
    width:100%;
    div {
      width:100%;
    }
    #logo {
      margin-top:2.25%;
      width:21%;
      margin-left:2%;
    }
  }
  section.middle {
    text-align:center;
    position:absolute;
    top:25%;
    width:100%;
    .bag {
      max-width:100%;
    }
    .map {
      width:90%;
    }
    .roo {
      position:absolute;
      left:5%;
      height:28%;
      z-index:10;
    }
    .finger {
      width:100%;
      position:absolute;
      top:30%;
    }
    .finger-center {
      width:20%;
    }
  }
  section.footer {
    width:100%;
    bottom:0;
    position:absolute;
    .btn-bar {
      width:100%;
      .btn-line {
        width:100%;
        text-align:center;
        a img {
          width:50%;
          
        }
      }
      .message {
        width:100%;
        height:10%;
      }
    }

  }
}
