include ./lib/header.jade
link(href="{{ STATIC_URL }}css/bonus.css",rel="stylesheet",type="text/css")
body
	div#sharebox
		img(src="{{ STATIC_URL }}image/share-to-friend.png",class="share-title")
		img(src="{{ STATIC_URL }}image/share-center.png",class="share-center")

	section.title
		img(src="{{ STATIC_URL }}image/six-month-logo.png",class="six-month-logo")
		div.join-in
			p.text-center 
				span 您是第
				span.num {{cal}}
				span 位加入
		div.join-in-second
			p.text-center “和妈妈一起美丽下厨”行动的参与者
	section.body
		div.bouns-center
			div.coner-wrapper
				img(src="{{ STATIC_URL }}image/coner.png",class="coner")
			div.first
				p.text-center {% if prize == 'first' %}恭喜您{% elif prize == 'second' %}恭喜您{% else %}还差一点{% endif %}
			div.second
				p.text-center {% if prize == 'first' %}获得六月鲜新年礼包{% elif prize == 'second' %}获得六月鲜特技淡盐酱油{% else %}就能为妈妈赢取{% endif %}
			div.third
				p.text-center {% if prize == 'first' %}为妈妈送出健康{% elif prize == 'second' %}为妈妈制造一份清咸{% else %}六月鲜新年礼包{% endif %}
			div.fourth
				p.text-center {% if prize == 'first' %}美丽的新年祝福{% elif prize == 'second' %}让妈妈与健康相伴{% else %}再一次加入行动吧{% endif %}
	section.footer
		div(class="bottom-color")=""
		img(src="{{ STATIC_URL }}image/girl_and_woman.png",class="girl-and-woman")
		a(class="{% if prize != 'NONE' %}help-mom{% else %}again-mom{% endif %} left-btn")
			img(src="{{ STATIC_URL }}image/{% if prize != 'NONE' %}help-mom-btn.png{% else %}again-mom-btn.png{% endif  %}")
		a(class="right-btn")
			img(src="{{ STATIC_URL }}image/share-btn.png")
	
	div.edit-body
		form(name="edit",id="edit")
			div.edit-message
				img.title(src="{{ STATIC_URL }}image/gift-for-mother-title.png",class="gift-title")
				div.name.clearfix
					div.inline.tip-text 领奖人姓名
					div.inline 
						input(type="text",placeholder="请输入您的姓名",class="middle-input",name="name",id="name")
				div.phone.clearfix
					div.inline.tip-text 联系电话
					div.inline 
						input(type="text",placeholder="请输入您的电话号码",class="middle-input",name="phone",id="phone")
				div.address.clearfix
					div.inline.tip-text 收货地址
					div.inline 
						input(type="text",class="little-input",name="province",id="province")
					div.inline 省
					div.inline 
						input(type="text",class="little-input",name="city",id="city")
					div.inline 市
					div.inline 
						input(type="text",class="little-input",name="area",id="area")
					div.inline 区/县
				div.address-detail.clearfix
					div.inline.tip-text &nbsp;
					div.inline
						input(type="text",placeholder="请输入您的详细地址",class="middle-input",name="address",id="address")
				
				div.alert=""
				a.submit(href="javascript:;",id="submit")
					img(src="{{ STATIC_URL }}image/submit-form.png",class="submit-btn")

				div.tip
					p.text-center 注：年底物流繁忙，礼物将在年后尽快为您派送。
	div#submit-success
		div.background
			img.title(src="{{ STATIC_URL }}image/submit-success.png")
			div.button
				a(class="share-btn")
					img(src="{{ STATIC_URL }}image/share-btn.png")

script(language="javascript",src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
script(language="javascript",src="{{ STATIC_URL }}js/bonus.min.js")
