include ./lib/header.jade
link(href="{{ STATIC_URL }}css/index.css",rel="stylesheet",type="text/css")
body
    input#move(type="hidden",value="0")
    section.title
        div.logo
            img#logo(src="{{ STATIC_URL }}image/logo.png")
    section.middle

        div.finger
            img.finger-center(src="{{ STATIC_URL }}image/finger_center.png")
        img.roo(src="{{ STATIC_URL }}image/roo.gif")
        img.map(src="{{ STATIC_URL }}image/map.png")
    section.footer
        div.btn-bar
            div.btn-line
                a#join(href="javascript:;")
                    img(src="{{ STATIC_URL }}image/I_want_join.png")
            div.btn-line
                a#instruction
                    img(src="{{ STATIC_URL }}image/instruction.png")
                div.message=""
                
script(language="javascript",src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
script(language="javascript",src="{{ STATIC_URL }}js/index.min.js")

